body {
    background-color: #000000 !important;
}

a {
    color: aliceblue !important;
}

.collapsed {
    border-color: aliceblue !important;
    background-color: aliceblue !important;
    padding: 8px 10px !important;
}

.App {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.best {
    font-size: 20px;
    color: #fff;
  }


  .tp-dfwv{
      width: 400px !important;
  }